.text-chart 
{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    color: #837e83;
    font-size: 50%;
}

.text-page {
    color:#287bff;
}

.icon {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
  
}

.title:hover {
    font-size: 20px;
    transition: 0.5s;
}

.title-separation 
{   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #779eff;
    border-radius: 35px;
    border-bottom: 1px solid #a1b9b9;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.title-separation  
{
    font-size: 20px;
}

.text-h4
{
    color: rgba(32, 32, 32, 0.493);
    font-size: large;
    
}
